# Discord Bot Configuration
DISCORD_TOKEN=YOUR_BOT_TOKEN_HERE
CLIENT_ID=YOUR_CLIENT_ID_HERE
OWNER_IDS=OWNER_ID_1,OWNER_ID_2
DEV_LOG_WEBHOOK=YOUR_WEBHOOK_URL_HERE
MONGO_URI=mongodb://your_mongo_uri_here
DEFAULT_PREFIX=z!
DEFAULT_VOLUME=50
MAX_QUEUE_SIZE=1000
MAINTENANCE_MODE=false

# Spotify API Configuration (Optional)
SPOTIFY_CLIENT_ID=YOUR_SPOTIFY_ID
SPOTIFY_CLIENT_SECRET=YOUR_SPOTIFY_SECRET

# Lavalink Server Configuration (recomended)
LAVALINK_HOST=your_lavalink_host
LAVALINK_PORT=443
LAVALINK_PASSWORD=your_lavalink_password
LAVALINK_SECURE=true

# Lavalink Server Configuration (backup)
LAVALINK_HOST_2=your_lavalink_host
LAVALINK_PORT_2=443
LAVALINK_PASSWORD_2=your_lavalink_password
LAVALINK_SECURE_2=true

# Lavalink Server Configuration (backup)
LAVALINK_HOST_3=your_lavalink_host
LAVALINK_PORT_3=443
LAVALINK_PASSWORD_3=your_lavalink_password
LAVALINK_SECURE_3=true
