# Discord Bot Configuration
DISCORD_TOKEN=YOUR_BOT_TOKEN_HERE
CLIENT_ID=YOUR_CLIENT_ID_HERE
OWNER_IDS=OWNER_ID_1,OWNER_ID_2
DEV_LOG_WEBHOOK=YOUR_WEBHOOK_URL_HERE
MONGO_URI=mongodb+srv://hololivemusicgroupscovercorp_db_user:RCJLIAggkodUqZGf@cluster0.xv5aimx.mongodb.net/?appName=Cluster0
DEFAULT_PREFIX=z!
DEFAULT_VOLUME=50
MAX_QUEUE_SIZE=1000
MAINTENANCE_MODE=false

# Spotify API Configuration (Optional)
SPOTIFY_CLIENT_ID=YOUR_SPOTIFY_ID
SPOTIFY_CLIENT_SECRET=YOUR_SPOTIFY_SECRET

# Lavalink Server Configuration (recomended)
LAVALINK_HOST=lavalinkv4.serenetia.com,YOUR_LAVALINK_SERVER
LAVALINK_PORT=443,443
LAVALINK_PASSWORD=https://seretia.link/discord,YOUR_PASSWORD_LAVALINK
LAVALINK_SECURE=true,true
